body {

    font-family: sans-serif;
}
.q{
    background-color:#c4e390;
}
main{
    margin:20px;
}

header {
    background-color:lightblue;
    padding: 10px;
}
h1 {
    background-color: lightblue;
    color:darkblue;
    font-size:20px;
    text-align: center;
}
footer p {
    background-color: Limegreen;
}
nav {
    background-color:#477b3a;
    text-align: center;
}
a {
    color:white;
    text-decoration: none;
    padding: 10px;
}
